<!DOCTYPE html>
<html>
  <%- include('head') %>

  <body>
    <div class="markdown-body">
      <%- body %>
    </div>

    <div style="text-align: center">
      <form id="file-upload-form" action="" method="post" enctype="multipart/form-data">
        <input type="file" name="upfile" id="upfile">
        <input type="submit" value="Upload">
      </form>
    </div>
  </body>
</html>
