<head>
  <meta charset="utf-8">
  <title>FreeCodeCamp APIs and Microservices</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/github-markdown-css/2.2.1/github-markdown.css" />
  <style media="screen">
    .content {
      max-width: 800px;
      margin: 45px auto;
    }

    @media (max-width: 850px) {
      .content { margin: 45px 15px; }
    }

    #file-upload-form, #url-shortener-form {
      padding: 30px;
      border: 1px solid gray;
      border-radius: 5px;
    }
  </style>
</head>
