<head>
  <meta charset="utf-8">
  <title>FreeCodeCamp APIs and Microservices</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/github-markdown-css/2.2.1/github-markdown.css" />
  <style media="screen">
    .markdown-body {
      box-sizing: border-box;
      max-width: 900px;
      margin: 0 auto;
      padding: 45px;
    }

    @media (max-width: 767px) {
      .markdown-body { padding: 15px; }
    }

    #file-upload-form, #url-shortener-form {
      padding: 30px;
      border: 1px solid gray;
      border-radius: 5px;
    }
  </style>
</head>
