<!DOCTYPE html>
<html>
  <%- include('head') %>

  <body>
    <div class="markdown-body">
      <%- body %>
    </div>

    <div class="markdown-body" style="text-align: center;">
      <form id="url-shortener-form" action="/api/shorturl/new" method="post">
        <label for="url">URL to be shortened: </label>
        <input type="text" name="url" id="url">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
